<ul>
  <% data.forEach(todo => { %>
    <li style="display: flex; align-items: center; gap: 10px;">
      <span><%= todo.title %></span>
      <a href="/edit-task/<%=todo._id %>">Edit</a>
      <form action="/delete-task/<%= todo._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit" class="btn-delete btn">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

<script src="/public/js/script.js"></script>